<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    {% load static %}
    <link
      href="https://fonts.gooleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'core/style.css'%}" />
  </head>

  <div class="box box-mid">
    <div class="inner">
      <span><a href="/contact">CONTACT</a></span>
    </div>
    <div class="inner">
      <span><a href="/contact">CONTACT</a></span>
    </div>
  </div>

  <div class="box box-bottom">
    <div class="inner">
      <span><a href="/about">BODEN</a></span>
    </div>
    <div class="inner">
      <span><a href="/about">BODEN</a></span>
    </div>
  </div>
</html>
