<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Notable&display=swap"
      rel="stylesheet"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css'%}" />
  </head>
  <body>
    <div class="glass">
      <div class="main-grid">
        <section class="top-section">
          <div class="Top-7"></div>
        </section>

        <section class="middle-section">
          <div class="name">
            <span>BODEN ENGEBRETSON</span>
          </div>
        </section>

        <section class="bottom-section">
          <div class="Bottom-7"></div>
        </section>

        <aside class="inSideBar">
          <a class="sidebar-section portfolio" href="/Work">WORK</a>
          <a class="sidebar-section contact" href="/contact">CONTACT</a>
          <a class="sidebar-section about" href="/about">ABOUT</a>
        </aside>
      </div>
    </div>
  </body>
</html>
