@import url("https://googleapis.com");

:root {
  --primary-color: white;
  --secondary-color: #f8f8ff;
  --blue: rgb(22, 150, 255);
}

body {
  margin: 0;
  background: white;
  height: 100vh;
  overflow: hidden;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.name span {
  font-family: "Bitcount Grid Single", sans-serif;
  font-style: normal;
  font-size: 5.5vw;
  color: black;
  background: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateZ(0);
}

ul {
  list-style-type: none;
  margin: o;
  padding: 0;
}

li a {
  display: block;
  color: var(--primary-color);
}

.navbar {
  background-color: var(--blue);
  text-decoration: none;
  height: auto;
  width: auto;
  font-family: "Bitcount Grid Single", sans-serif;
}
