@import url("https://googleapis.com");

:root {
  --primary-color: white;
  --secondary-color: #f8f8ff;
}

body {
  background-color: white;
}

.box {
  position: fixed; /* pin it to the screen */
  width: 66vw; /* 66% of viewport width */
  height: 33vh; /* 33% of viewport height */
}

.Top-7 {
  top: 0;
  left: 0;
  width: 66vw;
  height: 33vh;
  clip-path: polygon(97% 87%, 97% 0, 100% 0, 100% 100%, 0 0, 6% 0);
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66vw;
  height: 33vh;
}
.bottom-7 {
  width: 66vw;
  height: 33vh;
  clip-path: polygon(97% 87%, 97% 0, 100% 0, 100% 100%, 0 0, 6% 0);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inSideBar {
  position: fixed;

  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  width: 33vw;
  height: 100vh;

  padding: 2vh 2vw;
  gap: 2vh;

  box-sizing: border-box;
}

.sidebar-section {
  flex: 1 1 33%;
  display: flex;
  font-family: "Bitcount Grid Single", monospace;
  font-weight: 1000;
  font-size: 5vw;

  text-decoration-line: none;
  align-items: center;
  justify-content: center;
  transition: all 1.4s ease;
  background: black;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  border-radius: 5vh 5vw;
  padding: 1vh 1vw;
}

.sidebar-section::after {
  content: "";
}

.sidebar-section:last-child {
  border-bottom: none;
}

.sidebar-section:hover {
  box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 0em rgba(0, 0, 0, 1);
  transform: translate(7px, 7px);
}

.name span {
  font-family: "Bitcount Grid Single", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 5.5svw;

  color: black;

  background: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
