<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
  </head>

  <body>
    <div id="root"></div>

    {% load static %} {% if debug %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/main.jsx"></script>
    {% else %}
    <script type="module" src="{% static 'js/main-bundle.js' %}"></script>
    {% endif %}
  </body>
</html>
